name: Build Windows EXE
permissions:
  contents: write
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Build JAR
        run: mvn -q clean package

      - name: Check jar files in the target folder
        run: dir target

      - name: Build EXE
        shell: cmd
        run: |
          jpackage ^
            --type exe ^
            --name MyApp ^
            --input target ^
            --main-jar test-java-app-1.0-SNAPSHOT.jar ^
            --main-class org.patientManagement.Main ^
            --java-options "-Xmx512m" ^
            --win-console

      - name: Upload EXE
        uses: actions/upload-artifact@v4
        with:
          name: MyApp-Windows
          path: MyApp-*.exe

      - name: Download EXE artifact
        uses: actions/download-artifact@v4
        with:
          name: MyApp-Windows
          path: dist

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v1.0.0
          name: MyApp v1.0.0
          files: dist/MyApp-*.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
